<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TestModule</key>
	<dict>
		<key>home</key>
		<dict>
			<key>synopsis</key>
			<string> 这是首页</string>
			<key>descrip</key>
			<string> 这是首页</string>
			<key>name</key>
			<string>ViewController</string>
			<key>keys_require</key>
			<dict>
				<key>title</key>
				<string>（NSString）页面标题</string>
			</dict>
			<key>keys_option</key>
			<dict>
				<key>navigationBarHidden</key>
				<string>（BOOL）是否显示导航栏</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
